<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-light bg-dark">
  <a class="text-white"><b>{{ pageTitle | uppercase}}</b></a>
  <ul class="nav nav-pills">
    <li><a [routerLink]="['/welcome']" [routerLinkActive]="['active']" class="nav-link">Home</a></li>
    <li><a [routerLink]="['/products']" [routerLinkActive]="['active']" class="nav-link">Product List</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
